.wrap {
  margin: 1.5em 0;
}

.button {
  background-color: var(--color-primary);
  color: var(--color-text-primary) !important;
  padding: 0.5em 0.8em;
  border-radius: var(--radius-button);
  border: var(--border-button);
  cursor: pointer;
}
