@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

.theme {
  --color-logo: #c71585;
  --color-primary: #c71585;
  --color-default: #222;
  --color-gray: #555;
  --color-highlight: rgba(0, 0, 0, 0.05);
  --color-faded: #aaa;
  --color-separator: rgba(0, 0, 0, 0.07);
  --color-text-primary: white;

  --font-logo: "Pacifico", cursive;
  --font-content: "Roboto Condensed", serif;
  --font-controls: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --size-content: 1.1em;

  --radius-button: 3px;
  --radius-box: 5px;

  --border-button: 1px solid var(--color-faded);
}

.theme {
  font-family: var(--font-content);
  font-size: var(--size-content);
  color: var(--color-default);
}

.theme a {
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.3s;
}

.theme p {
  line-height: 1.4em;
}

.markdown img {
  max-width: 100%;
}
