.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  box-shadow: var(--color-separator) 0px 1px 0px;
}

.navigationMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  box-shadow: var(--color-separator) 0px 1px 0px;
}

.navigationMobile ul {
  margin-left: 0.2em;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 2.5em;
}

.group {
  display: flex;
  align-items: center;
}

.sign {
  margin-left: 0.6em;
}

.links {
  padding: 0;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.links::-webkit-scrollbar {
  display: none;
}
